*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(240, 238, 238);
}

:root {
  --main-color: #E6AA68;
  --lighter-shade: #FFFBBD;
  --darker-shade: #CA3C25;
  --contrast: #7FB069;
  --darkest: #1D1A05;
}

/* Layout Start */

.App {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "header header header"
  "sidebar main main"
  "footer footer footer";
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: .5fr 5fr .25fr;
}

.header {
  grid-area: header;
  background-color: var(--lighter-shade);
  text-align: center;
}

.header > h1 {
  color: var(--darker-shade);
  text-shadow: 2px 2px var(--darkest);
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  padding-top: 10px;
  grid-area: footer;
  text-align: center;
  background-color: var(--lighter-shade);
}

.footer > a {
  text-decoration: none;
  color: var(--darker-shade);
}

/* Layout End */

/* Buttons Start */

.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttons > button {
  font-size: 5vh;
  height: 100%;
  border: none;
  margin: 5px 3px;
  background-color: var(--contrast);
}

.buttons > button:hover {
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}

/* Card Buttons */

.editBtn, .deleteBtn {
  font-size: 1vw;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.editBtn:hover, .deleteBtn:hover {
  cursor: pointer;
}

.editBtn {
  background-color: var(--main-color);
  margin-right: 15px;
}

.editBtn:hover {
  background-color: var(--lighter-shade);
  color: var(--darker-shade);
}

.deleteBtn {
  background-color: var(--darker-shade);
}

.deleteBtn:hover {
  background-color: var(--darker-shade);
  color: #fff;
}

/* Buttons End */

/* Form Start */

.formCt {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formEl {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.formEl > label {
  margin-bottom: 15px;
  font-size: 1vw;
}

/* Form End */

/* Render Start */

.dataRender {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 200px));
  gap: 30px;
  padding: 20px 
}

.infoCard {
  background-color: var(--lighter-shade);
  box-shadow: 0 0 3px 2px rgb(186, 188, 196);
  padding: 20px;
  border-radius: 15px;
}

.line1 {
  font-weight: 600;
  font-size: 1.25vw;
  margin-bottom: 10px;
}

.line2, .line3 {
  font-size: 1vw;
}