*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: .5fr 5fr .5fr;
  grid-template-areas: 
  "header header header"
  "sidebar fun fun"
  "footer footer footer";
}

#header {
  grid-area: header;
  text-align: center;
}

#sidebar {
  grid-area: sidebar;
}

#content {
  grid-area: fun;
}

#footer {
  grid-area: footer;
}

.buttonControl {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
}

.buttonControl > button:hover {
  cursor: pointer;
}

#create, #render, #update, #delete {
  font-size: 3vw;
}

#content, .formContainer {
  display: flex;
  justify-content: center;

}

.formContainer {
  flex-direction: column;
  max-width: 15vw;
}

.formContainer > label,
.formContainer > input {
  margin-bottom: 15px;
}

.formContainer > button {
  font-size: 1vw;
}