*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "header header header"
  "sidebar main main"
  "footer footer footer";
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: .5fr 5fr .5fr;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttons > button {
  font-size: 5vh;
  height: 100%;
}

.formCt {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formEl {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.formEl > label {
  margin-bottom: 15px;
  font-size: 1vw;
}